@charset "UTF-8";@charset "UTF-8";

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style: none;
	
}

.header {
	width: 100%;
	display: flex;
	padding: 20px 70px;
	justify-content: space-between;
	align-items: center;
	background-color: #f5f5f5;
		margin-bottom: 100px;
}
img {
	width: 70px;
	height: 70px;
}

.signin {
	width: 300px;
	display: flex;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
}

.signinInner {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.signinTitle {
	margin-bottom: 40px;
}

.signinForm {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
	height: 70px;
}

form {
	width: 100%;
}

input {
	height: 30px;
	padding: 0 4px;
}

.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin-top: 10px;
	padding: 10px 15px
}
button {
	width: 150px;
	cursor: pointer;
	border: none;
	background-color: dodgerblue;
	border-radius: 3px;
	color: white;
}
button:hover {
	opacity: 0.7;
}
span {
	color: red;
}
a {
	color: blue;
}
a:hover {
	opacity: 0.7;
}

.errMessage {
	color: red;
	font-size: 0.7rem;
}
